
.about-us-bgimg
  height: 816px
  background:
    image: url('../images/content/shutterstock.jpg')
    repeat: no-repeat
    size: contain
  .about-us-wrap
    +ipad-down
      padding: 0!important

  +laptop-down_1700
    background-position: -27% 100%
    background-size: contain
  +laptop-down_1500
    background-position: -40% 100%
    background-size: contain
  +laptop-down_1400
    background-position: -55% 100%
    background-size: contain
  +laptop-down_1300
    background-position: -85% 100%
    background-size: contain
  +laptop-down
    background-position: -127% 50%
  +laptop-down_1024
    background-position: 430% 50%
    background-size: cover
  +ipad-down
    background-position: center top
    background-size: contain
    height: auto


.about-us
  display: flex
  +ipad-down
    width: 100%
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding-top: calc( 40px + (100vw / 1.3)
    //calc( 40px + (100vw / 1.3))

  .container
    background-color: rgba(255, 122, 255, 0.5)

  &__text
    margin-left: auto
    max-width: 53%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    +laptop-down
      max-width: 40%
    +ipad-down
      max-width: 100%
      padding: 0
      margin-top: 0
    +phonemin-down
      padding: 0
  .title
    margin-bottom: 40px
    font-size: 18px
    letter-spacing: -0.2px

  .title-box--right::after
    +laptop-down
      width: 115px
      right: -115px
    +laptop-down_1024
      width: 88px
      right: -88px
    +ipad-down
      width: 225px
      right: -225px
    +tablet-down
      width: 100px
      right: -100px
    +phonemin-down
      width: 30px
      right: -30px

.list
  margin: 0
  padding: 0
  list-style: none
  +phone-down
    width: calc(100% - 30px)

.list-item
  margin: 0 0 20px 0px
  left: 30px
  padding: 0 0 0 75px
  list-style: none
  position: relative
  transition: all 500ms, transform 500ms
  -webkit-transition: all 500ms, transform 500ms
  -o-transition: all 500ms, transform 500ms
  -moz-transition: all 500ms, transform 500ms

  &::before
    width: 59px
    height: 59px
    border: 2px solid #333
    border-radius: 50%
    background-size: 65%
    //37px 37px
    background-repeat: no-repeat
    background-position: center center
    //background-image: url("../images/icons/ic-econom.svg")
    content: ""
    position: absolute
    top: 0
    left: 0
  &__econom
    &::before
      background-image: url("../images/icons/ic-econom.svg")
  &__speed
    &::before
      background-size: 80%
      background-image: url("../images/icons/ic-speed.svg")
  &__honest
    &::before
      background-image: url("../images/icons/ic-honest.svg")
      background-position: 40% 43%
  &__profi
    &::before
      background-image: url("../images/icons/ic-profi.svg")
  .bold
    font-size: 16px
    font-family: $font-Raleway-Bold
    line-height: 1.2
    color: #414141
    margin: 0
  p
    font-size: 14px
    font-family: $font-Raleway-Light
    line-height: 1.786
    //color: yellow
    color: #818181
    //background-color: green
    margin: 15px 0
