.carousel
  .carousel-indicators
    bottom: -60px
    li
      width: 15px
      height: 15px
      background: $grey-light
      border-radius: 50%
      border-width: 0
      &.active
        background: #666f77

.arrow-icon
  fill: none
  stroke: $grey-light
  stroke-width: 4px
  width: 23px
  height: 38px
  &:hover
    stroke: #51cfd1