@font-face
  font-family: "Raleway-Light"
  font-style: normal
  font-weight: normal
  src: local('Raleway-Light'), url("Raleway-Light/Raleway-Light.woff") format("woff"), url("Raleway-Light/Raleway-Light.woff2") format("woff2"), url("Raleway-Light/Raleway-Light.ttf") format("ttf"), url("Raleway-Light/Raleway-Light.eot") format("eot")
  font-display: swap

@font-face
  font-family: "Raleway-Bold"
  font-style: normal
  font-weight: normal
  src: local('Raleway-Bold'), url("Raleway-Bold/Raleway-Bold.woff") format("woff"), url("Raleway-Bold/Raleway-Bold.woff2") format("woff2"), url("Raleway-Bold/Raleway-Bold.ttf") format("ttf"), url("Raleway-Bold/Raleway-Bold.eot") format("eot")
  font-display: swap

@font-face
  font-family: "Raleway-Regular"
  font-style: normal
  font-weight: normal
  src: local('Raleway-Regular'), url("Raleway-Regular/Raleway-Regular.woff") format("woff"), url("Raleway-Regular/Raleway-Regular.woff2") format("woff2"), url("Raleway-Regular/Raleway-Regular.ttf") format("ttf"), url("Raleway-Regular/Raleway-Regular.eot") format("eot")
  font-display: swap

@font-face
  font-family: "Raleway-Semibold"
  font-style: normal
  font-weight: normal
  src: local('Raleway-Semibold'), url("Raleway-Semibold/Raleway-Semibold.woff") format("woff"), url("Raleway-Semibold/Raleway-Semibold.woff2") format("woff2"), url("Raleway-Semibold/Raleway-Semibold.ttf") format("ttf"), url("Raleway-Semibold/Raleway-Semibold.eot") format("eot")
  font-display: swap

@font-face
  font-family: "Vollkorn-Italic"
  font-style: normal
  font-weight: normal
  src: local('Vollkorn-Italic'), url("Vollkorn-Italic/Vollkorn-Italic.woff") format("woff"), url("Vollkorn-Italic/Vollkorn-Italic.woff2") format("woff2"), url("Vollkorn-Italic/Vollkorn-Italic.ttf") format("ttf"), url("Vollkorn-Italic/Vollkorn-Italic.eot") format("eot")
  font-display: swap

@font-face
  font-family: "HelveticaNeueCyr-Medium"
  font-style: normal
  font-weight: normal
  src: local('HelveticaNeueCyr-Medium'), url("HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("ttf"), url("HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot") format("eot")
  font-display: swap

@font-face
  font-family: "HelveticaNeueCyr-Light"
  font-style: normal
  font-weight: normal
  src: local('HelveticaNeueCyr-Light'), url("HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), url("HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2") format("woff2"), url("HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("ttf"), url("HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot") format("eot")
  font-display: swap

@font-face
  font-family: "MagistralC-Regular"
  font-style: normal
  font-weight: normal
  src: local('MagistralC-Regular'), url("MagistralC-Regular/MagistralC-Regular.woff") format("woff"), url("MagistralC-Regular/MagistralC-Regular.woff2") format("woff2"), url("MagistralC-Regular/MagistralC-Regular.ttf") format("ttf"), url("MagistralC-Regular/MagistralC-Regular.eot") format("eot")
  font-display: swap

@font-face
  font-family: "MagistralC-Bold"
  font-style: normal
  font-weight: normal
  src: local('MagistralC-Bold'), url("MagistralC-Bold/MagistralC-Bold.woff") format("woff"), url("MagistralC-Bold/MagistralC-Bold.woff2") format("woff2"), url("MagistralC-Bold/MagistralC-Bold.ttf") format("ttf"), url("MagistralC-Bold/MagistralC-Bold.eot") format("eot")
  font-display: swap
